.enroll {
    margin: 0 auto;
    text-align: center;
}

.enroll h1{
    font-weight: bold;
}

.form {
    width: 50%;
    margin: 0 auto;
}

.form-control {
    margin: 10px 0;
    padding: 10px;
}

#submit-btn {
    color: white;
    background-color: #7C73E6;
    padding: 20px 60px;
    text-align: center;
    border-color: #7C73E6;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
}