/*背景色指定*/
body {
    background-color: #bfccff;
    margin: 0 auto;
    font-weight:bold;
}

header {
    height: 65px;
}

.btn {
    float: right;
    margin-right: 5px;
    margin-top: 5px;
    background-color: #7C73E6;
    border-radius: 34px;
    padding: 20px 20px;
    border-color: #7C73E6;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: white;
}

/*モーダル*/
.modal-content{
    background-color: #7C73E6;
}  

.modal-title{
    color: white;
}

.modal-body{
    margin: 0 auto;
    text-align: center;
}

.form{
    margin-top: 10px;
    margin-bottom: 20px;
}

.form-control{
    height: 50px;
    padding: 20px 100px 20px 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#submit-btn{
    color:#7C73E6;
    background-color: #bfccff;
    padding: 20px 60px;
    text-align: center;
    border-color: #bfccff;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
}  

/* アプリロゴ */
.apptop img{
    width: 50%;
    height:auto;
    text-align: center;
    margin: 0 25%;
}

.menu{
    height: 300px;
}

.menu h3{
    margin: 10px auto;
    text-align: center;
    padding: 40px 30px;
    background-color: #7C73E6;
    border-radius: 34px;
    width:40%;
    font-weight: normal;
}

.menu a{
    color: #FFFFFF;
}

#snowman-img{
    position: absolute;
    bottom: 0px;
    right: 20px;
}

.footer-img{
    position: relative;
    bottom: 0;
}

.footer-img img{
    width: 50%;
    float: left;
    display: flex;
}


