h1{
    text-align: center;
    margin-bottom: 50px;
    font-weight: bold;
}

h3{
    font-weight: bold;
}

.main-container{
    width: 100%;
    margin: 0 auto;
    display: flex;
    float: left;
}

.flow{
    width: 45%;/*width: 50%;??*/
    margin: 0 1% 0 7%;
}

.flow-text p{
    font-size: 20px;
    line-height: 28px;
}

/*アコーディオン*/
.accordion{
    margin: 20px 5% 20px 0;
    width: 70%;
}

.accordion-item, .accordion-button, .btn{
    background-color: #bfccff;
    border-color: #7C73E6;
    border-width: 4px;
    color:#7C73E6;
    font-weight: bold;
}

.accordion-body{
    color: black;
    font-weight: normal;
}

/*できたボタン*/
#done {
    margin: 20px 5% 20px 0;
    width: 70%;
    background-color: #7C73E6;
    border-color: #7C73E6;
    color: white;
    font-weight: bold;
    padding: 25px 0; 
    border-radius: 34px;
}

/*画面右側*/
.code-img{
    width: 45%;/*width: 50%;??*/
    display: flex;
    flex-direction: column;
    margin:0 7% 0 1%;
}

.code-img p{
    font-size: 20px;
    line-height: 28px;
}

footer{
    position: absolute;
    bottom: 0px;
}

/*ナビバー*/
.dropdown{
    float:right;
    margin-right: 10px;
}

.dropdown-toggle{
    background-color: #7C73E6;
    color: white;
    border-radius: 34px;
    border-color: #7C73E6;
    padding: 20px;
}

#done a{
    color: white;
}

a:hover{
    opacity: 0.5;
}

/*stage1カード*/
.col{
    margin: 0 30px 30px 30px;
}

.card{
    height: 360px;
}

.card-body a{
    margin-top: 10px;
}

.to-next{
    text-align: center;
}
