.question {
    height: 700px;
    text-align: center;
}

.question-text {
    height: 400px;
    font-size: 32px;
}

.choice {
    text-align: center;
}

.choice-item {
    position: relative;
    width: 25%;
    float: left;
}

/* .choice-item img{

} */

.choice-item p{
    position: absolute;
    top: 38%;
    width: 100%;
    color: white;
    font-weight: bold;
}

