/*背景色指定*/
body {
    background-color: #bfccff;
    margin: 0;
    width: 100%;
    font-weight:bold;
}

header {
    width: 100%;
    height: 65px;
}


/* アプリロゴ */
.apptop img{
    width: 50%;
    height:auto;
    text-align: center;
    margin: 0 25%;
}

.apptop p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 50px;
    text-align: center;

    color: #000000;
}

/*５つの選択肢*/
.choice {
    width: 100%;
    height: auto;
    margin: 0 auto;
}

.choice-item {
    width:20%;
    float: left;
    text-align: center;
    opacity: 0.8;
    line-height: 10px;
}

.choice-item:hover {
    opacity: 1;
}

/*地面の雪画像*/
.footer-img img{
    width: 50%;
    float: left;
    display: flex;
}

footer {
    position: absolute;
    bottom: 0px;
}

/*モーダル*/
#modal {
    display: none;
}

.modaal-container {
    max-width: 80%;
    background-color: #bfccff;
}

#explain {
    float: left;
    display: flex;
    padding: 5% 10% 10% 10%;
}

#snowman-img img{
    margin-left: 30px;
    margin-top: 50px;
}

/*リンクの色*/
a {
    color:#000000;
}
